@import "@theme/variables";

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ion-text-end {
	text-align: right;
}
.custom-header {
	--background: var(--ion-color-tertiary-tint);
}
.title {
	color: var(--ion-color-primary-contrast);
}
.icons-back {
	color: white;
}
